.column {
  border:2px solid #000;
  border-radius:10px;
}
  .column-head {
    border-bottom:2px solid #000;
    padding:.8em 20px .7em;
    margin:0;
    font-size:1.4em;
  }
  .column-body {
    padding:1em 20px 0;
  }
    .column-body > p {
      margin:0;
      padding:0 0 1em;
    }

.column.is-disabled {
  opacity:.3;
}

.column.column-caution {
  background:#EA3B3B;
}

.graph {
  text-align:center;
}
  .graph-head {
    font-weight:bold;
  }
  .graph-body img {
    border:2px solid #000;
  }
  .graph-foot {
    font-size:.8em;
  }

.imgcolumn {
  border:2px solid #000;
  border-radius:10px;
}
  .imgcolumn-head {
    border-bottom:2px solid #000;
    padding:.8em 20px .7em;
    margin:0;
    font-size:1.4em;
  }
  .imgcolumn-body {
    padding:1em 20px 0;
    overflow:hidden;
    *zoom:1; /* ie */
  }
    .imgcolumn-imgcontainer {
      float:right;
      padding:0 0 1em 20px;
      width:134px;
    }
    .imgcolumn-text {
      overflow:hidden;
      *zoom:1; /* ie */
    }
      .imgcolumn-text p {
        margin:0;
        padding:0 0 1em;
      }

